<div ng-controller="GameController as game">
    <h1 class="center">Codenames</h1>
    <div class="centaur" id="board">
      <div class="pure-g center" ng-repeat="word in game.wordList track by $index" ng-if = "$index % 5 == 0">
        <div class = "cell pure-u-1-5" ng-class="{'blue': squareSelected(i)}" ng-click="game.checkSquare(i)" ng-repeat="i in [$index, $index+1, $index+2, $index+3, $index+4]" ng-if="game.wordList[i] != null">
          {{game.wordList[i].word}}
        </div>
      </div>
    </div>
</div>

<!--    <script>
    $(function (){
      var socket = io.connect('localhost:4000');

      $('#test').on('click',function(){
        socket.emit('clicked');
      });

      socket.on('clicked', function(){
        console.log("button clicked");
        $('#m').toggle();
      });
    });
    </script> -->
