<div ng-controller="GameController as game">
  <div id="waitMessage" ng-if="game.showWait">
    <h1 class="center title">Welcome to Find My Agents!</h1>
    <h3>(It's Codenames, but Online)</h3>
    <br><br>
    <h2>Please wait for another Spymaster</h2>
    <img src="../img/bonds.gif">
  </div>
  <div ng-if="game.showGame">
    <h1 class="center title">Find my Agents!</h1>
    <h2 class="center title" ng-if="game.active">It's your turn!</h2>
    <h2 class="center title" ng-if="!game.active">Please wait for ally to end their turn.</h2>
    <h2 class="center title counter">Round: {{game.roundNumber}}</h2>
    <div class = "pure-g board" ng-class="{disable: !game.active}" ng-repeat="word in game.playerOne.playerGrid track by $index" ng-if = "$index % 5 == 0">
      <div class = "cell pure-u-1-5" ng-class="{assassin: game.wordList[i].type == 'assassin' && game.wordList[i].reveal, agent: game.wordList[i].type == 'agent' && game.wordList[i].reveal, bystander: game.wordList[i].type == 'bystander' && game.wordList[i].reveal}" ng-click="game.checkSquare(i)" ng-repeat="i in [$index, $index+1, $index+2, $index+3, $index+4]" ng-if="game.wordList[i] != null">
        {{game.playerOne.playerGrid[i].word}}
      </div>
    </div>
    <form class="pure-form">
      <fieldset>
      <p class="suggestion">{{game.returnedWord}}</p>
        <input type = "text" ng-model="game.codeWord">
        <button type = "submit" class="pure-button submitButton" ng-click="game.addMessage()">Submit</button>
        <button type = "submit" class="pure-button submitButton" ng-click="game.endRound(game.roundNumber + 1)">End Round</button>
      </fieldset>
    </form>
    <br><hr>

    <div><p>This is your ally's spy locations. Help them find their agents!</p></div>
    <div class = "pure-g answersheet" ng-repeat="word in game.answerSheet track by $index" ng-if = "$index % 5 == 0">
      <div class = "answercell pure-u-1-5" ng-class="{assassin: game.answerSheet[i].type == 'assassin', agent: game.answerSheet[i].type == 'agent', bystander: game.answerSheet[i].type == 'bystander'}" ng-click="game.checkSquare(i)" ng-repeat="i in [$index, $index+1, $index+2, $index+3, $index+4]" ng-if="game.answerSheet[i] != null">
        {{game.playerTwo.playerAnswer[i].word}}
      </div>
    </div>
    <div class="center" style="color: steelblue;">
        <p>
          Green = <span style="color: #00e3a8;">Agent</span>
        </p>
        <p>
          Red = <span style="color: #c95465;">Assassin</span>
        </p>
        <p>
          Brown = <span style="color: #ede2cc;">Bystander</span>
        </p>
      </div>
  </div>
</div>
