/*font-family: 'Merienda', cursive;
font-family: 'Bangers', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Black Ops One', cursive;*/

body {
  background-image: url("../img/spyWallpaper.jpg");
  background-color: #cccccc;
  background-size: 100%;
  padding: 20px;
  padding: 10px px 10px 50px;
  font-family: 'Press Start 2P', 'cursive';
}

#board {
  width: 75%;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;
}

.error {
  color: red;
}

.cell {
  width: 19%;
  margin: 0.5%;
  padding: -0.5%;
  line-height: 60px;
  /*display: inline-block;*/
  /*text-align: center;*/
  background: #e8e8e8;
}

.pure-g .cell {
  font-family: 'Press Start 2P', 'cursive';
  font-size: 12px;
}

.title {
  color: white;
};

.blue{
  background: #4183cc;
  color: #fff;
}

.neutral{
  background: #ede2cc;
}

.black{
  background: #000000;
  color: #fff;
}
