.agent{
  background: #00e3a8 !important;
  color: transparent;
}

.answersheet {
  padding: 0px 150px 0px 150px;
  color: transparent;
}

.answersheet .answercell{
  border: 1px solid midnightblue;
  width: 19%;
}

.assassin {
  background: #c95465 !important;
  color: transparent;
}

.bystander{
  background: #ede2cc !important;
  color: transparent;
}

.board .cell {
  font-family: 'Black Ops One', 'cursive';
  font-size: 20px;
}

body {
  background-image: url("../img/Grid.png");
  background-color: #cccccc;
  background: url("../img/Grid.png") repeat;
  padding: 10px px 10px 50px;
  font-family: 'Black Ops One', cursive;
}

.cell {
  width: 19%;
  margin: 0.5%;
  padding: -0.5%;
  line-height: 60px;
  background: #e8e8e8;
}

.board .cell:hover {
  background: hsl(0, 1%, 84%);
  cursor: crosshair;
}

.center {
  text-align: center;
}

.submitButton {
  background-color: steelblue;
  color: midnightblue;
}

.suggestion {
  color: steelblue;
  font-size: 24px;
}

.title {
  color: steelblue;
}

#waitMessage {
  color: steelblue;
}

.disable {
  pointer-events: none;
}
