/*font-family: 'Merienda', cursive;
font-family: 'Bangers', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Black Ops One', cursive;*/

body {
  background-image: url("../img/Grid.png");
  background-color: #cccccc;
  background: url("../img/Grid.png") repeat;
  padding: 10px px 10px 50px;
  font-family: 'Black Ops One', cursive;
}

.title {
  color: steelblue;
}

.round {
  color: steelblue;
}

.suggestion {
  color: steelblue;
  font-size: 24px;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;
}

.error {
  color: red;
}

.cell {
  width: 19%;
  margin: 0.5%;
  padding: -0.5%;
  line-height: 60px;
  /*display: inline-block;*/
  /*text-align: center;*/
  background: #e8e8e8;
}

.board .cell {
  font-family: 'Black Ops One', 'cursive';
  font-size: 20px;
}

.agent{
  background-image: url("../img/Grid.png");
  background: #00e3a8;
  color: transparent;
}

.neutral{
  background-image: url("../img/Grid.png");
  background: #ede2cc;
  color: transparent;
}

.assassin {
  background-image: url("../img/Grid.png");
  background: #c95465;
  color: transparent;
}

.chosenAssassin {
  background: url("../img/Assassin.jpg");
  background-size: 100%;
  color: transparent;
}

.chosenAgent {
  background: url("../img/Agent.jpg");
  background-size: 100%;
  color: transparent;
}

.chosenBystander {
  background: url("../img/Bystander.png");
  background-size: 100%;
  color: transparent;
}

.submitButton {
  background-color: steelblue;
  color: midnightblue;
}

.answersheet {
  padding: 0px 150px 0px 150px;
  color: transparent;
}

.answersheet .answercell{
  border: 1px solid midnightblue;
  width: 19%;
}

.wait {
  color: steelblue;
}
